<h1><%= @movie.title %></h1>
<h3> Year Released: <%= @movie.creation_year %></h3>
<h3> Genre: <%= @movie.genre %></h3>
<h3> Actors: </h3>
<% @movie.actors_youngest_to_oldest.each do |actor| %>
  <ul>
    <li><%= actor.name %></li>
  </ul>
<% end %>
<p> Average Actor Age: <%= @movie.avg_actor_age %></p>
